.input-players-form {
  background-color: var(--rb-primary);

  display: flex;
  flex-direction: column;
  padding: 5px;
}

.input-players-form input {
  background-color: var(--rb-secondary);
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px 5%;
  font-weight: bold;
  font-size: 4vh;
}

.input-players-form input:focus {
  outline: none;
}

.input-players {
  background-color: var(--rb-primary);
  height: 95vh;
}

.input-players button {
  background-color: var(--rb-secondary);
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  width: 90vw;
  font-size: 4vh;
  font-weight: bold;
  text-transform: uppercase;
  height: 5vh;
  cursor: pointer;
}
