.railbaron-header {
  background-color: var(--primary-colour);
  text-align: center;
  width: 100%;
  border-bottom: 3px solid black;
  height: 5vh;
}
.railbaron-header img {
  height: 100%;
}

.input-players-form {
  background-color: var(--primary-colour);

  display: flex;
  flex-direction: column;
  padding: 5px;
}

.input-players-form input {
  background-color: var(--secondary-colour);
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px 5%;
  font-weight: bold;
  font-size: 4vh;
}

.input-players-form input:focus {
  outline: none;
}

.input-players {
  background-color: var(--primary-colour);
  height: 95vh;
}

.input-players button {
  background-color: var(--secondary-colour);
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  width: 90vw;
  font-size: 4vh;
  font-weight: bold;
  text-transform: uppercase;
  height: 5vh;
  cursor: pointer;
}

.panel-list {
  background-color: var(--primary-colour);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-btn {
  background-color: var(--secondary-colour);
  width: 80%;
  margin: 1vh;
  font-size: 3vh;
  font-weight: bold;
  padding: 3vmin;
  cursor: url("train.cur"), auto;
}

.panel-btn:hover {
  background-color: var(--tertiary-colour);
}

.rb-left-panel {
  justify-content: space-between;
}

.main-screen-container {
  display: flex;
  height: 95vh;
}

.divider-vertical {
  width: 0.2vw;
  background-color: black;
  height: 100%;
}

.divider-horizontal {
  height: 0.2vw;
  background-color: black;
  width: 100%;
}

.main-screen-right-side {
  background-color: var(--primary-colour);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.RBstatus {
  /* height: 65vh; */
  padding: 0 2% 2% 2%;
  width: 100%;
  /* overflow: auto; */
}

.RBstatus h1 {
  font-size: 5vmin;
}

.RB-content-box {
  background-color: var(--tertiary-colour);
  width: 100%;
  /* height: 85%; */
  /* position: absolute; */
  border-radius: 5px;
  border: solid 1px black;
  padding: 1vmin;
}

.RB-content-box h2 {
  font-size: 3.2vmin;
}
.RB-content-box span {
  font-size: 4vmin;
}

.RBhome-towns {
  width: 100%;
  overflow: auto;
  padding: 0 2% 2% 2%;
}

.RBhome-towns h1 {
  font-size: 4vmin;
}

.RBhome-towns div div {
  font-size: 3.5vmin;
}

.RB-same-region-panel {
  height: 85vh;
  overflow: auto;
}

.RB-same-region-panel button {
  padding: 2.5vmin;
}

.RB-full-screen-primary {
  background-color: var(--primary-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}

.RB-full-screen-primary h1 {
  font-size: 3vh;
}

.rb-btn {
  cursor: url("train.cur"), auto;
}

.rb-back-btn {
  background-image: url("../images/back-arrow.png");
  height: 10vh;
  width: 10vh;
  background-size: cover;
  background-position: center;
  cursor: url("train.cur"), auto;
  opacity: 1;
}

.RB-destination-background {
  width: 100vw;
  height: 95vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--primary-colour);
}

.RB-destination-container {
  background-color: var(--secondary-colour-transparent);
  border-radius: 5px;
  border: 1px solid black;
  padding: 2vmin;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow-wrap: anywhere;
  position: relative;
  z-index: 5;
}

.rb-destination-background-image {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 95vh;
  margin: 0px;
  text-indent: -10000px;
}

.RB-button-bar {
  display: flex;
  width: 100%;
}

.RB-destination-container span {
  font-size: 5vmin;
}

.RB-destination-container h1 {
  font-size: 15vmin;
}

.rb-toggle-invisible {
  width: 5vh;
  height: 5vh;
  position: absolute;
  left: 2vh;
  top: 93vh;
  background-repeat: no-repeat;
  background-size: 5vmin;
  background-position: center;
  background-image: url("../images/eye.png");
}

.RB-continue-btn {
  -webkit-appearance: none;
  flex-grow: 2;
  height: 10vh;
  font-size: 3vmin;
  cursor: url("train.cur"), auto;
  opacity: 1;
  border-radius: 0px;
  color: black;
}

input[type="submit"] {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.railbaron {
  cursor: url("train.cur"), auto;
}

.railbaron > button {
  cursor: url("train.cur"), auto;
}

.rb-display-banner {
  /* background-color: var(--primary-colour); */
  position: relative;
  background-image: url("../images/red-banner.png");
  background-color: var(--primary-colour);
  height: 85vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.rb-display-banner div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 10vh));
  text-align: center;
  font-size: 3vmin;
}

.statistics-page {
  height: 95vh;
  background-color: var(--primary-colour);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.statistics-page .rb-back-btn {
  margin-bottom: 2vmin;
  margin-left: 2vmin;
}

.statistics-content {
  width: 80vw;
  display: flex;
  align-self: center;
}

.statistics-left-panel {
  background-color: var(--primary-colour);
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width: 20vw;
}

.statistic-player {
  background-color: var(--secondary-colour);
  height: 10vh;
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10vh;
  z-index: 2;
  transition: width 0.1s;
}

.statistic-player:hover {
  border-right: none;
  width: calc(30vw + 1px);
  background-image: linear-gradient(
    to right,
    var(--secondary-colour) 50%,
    var(--tertiary-colour)
  );
}

.statistic {
  background-color: var(--tertiary-colour);
  margin-top: 10vh;
  margin-left: 10vw;
  width: 50vw;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  padding: 2%;
}

.statistic h1 {
  align-self: center;
  font-size: 5vmin;
}

.statistic > span {
  font-size: 3vmin;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.statistic span > div {
  background-color: var(--secondary-colour);
  border: 1px solid black;
  width: 55%;
}

.statistic span > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rb-regions-list {
  max-height: 20vh;
  font-size: 2vh;
  overflow: auto;
}

.rb-cities-list {
  max-height: 30vh;
  font-size: 2vh;
  overflow: auto;
}

@media (max-width: 1100px) {
  .rb-display-banner {
    background-image: url("../images/red-banner-narrow.png");
  }
}
